body {
    background: #F5F7FA;
    font-family: "Inter", sans-serif;
}

.signup-card {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 14px;
    border: 1px solid #DFE7EE;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.header-title {
    background: #E9F4FF;
    color: #0A6EF2;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 28px;
}

.btn-success {
    background: #0A6EF2;
    border-color: #0A6EF2;
    border-radius: 8px;
}

.btn-success:hover {
    background: #0756BE;
}

/* Password Strength Bar Height */
.progress {
    height: 5px;
    border-radius: 3px;

}

.error-msg {
    font-size: 12px;
}